*{
    margin: 0;
    padding: 0;
}

.img{
    font-size: 60px;
}

.nav-link{
    color: #fff;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.nav-link:hover{
    color: #f3ebeb;
   
}

.btn-style{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background: #d94948;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.btn-style:hover{
    background-color: #ec2727;
    color: #fff;

}

header{
    background-image: url(..//images/geran-de-klerk-f0oe9P9Yixs-unsplash.jpg);
    /* width: 100%; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 120vh;
}

header .welcome h5 {
    color: #f9f8f8;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

header .welcome h1 {
    color: #f9f8f8;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.lm {
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%);
}

.btn_custom {
    color: #f9f8f8;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    background-color:#d94948;
    border: #d94948;
    letter-spacing: 0.5px;
    padding: 14px 33px;
    border-radius: 25px;
    transition: 0.3s all ease-in-out;
    margin-top: 30px;
}

.btn_custom:hover{
    background-color: #e42b2b;
    color: #f9f8f8;
}

.welcome i {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 28px;
    }

.about_us h3 {
    color: #011627;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.about_us h1 {
    color: #011627;
    font-size: 34px;
    font-family:font-family: 'Montserrat', sans-serif;
    font-weight:800;
    letter-spacing: 0.5px;
}

.about_us p {
    color: #011628bf
    font-size: 15px;
    font-family:font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 25px;
}



.services{
   background-image: url(..//images/alex-azabache-hZhhVLLKJQ4-unsplash.jpg);
   width: 100%;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 105vh;
 
   
}

.services h5{
    color: #fff;
    margin-top: 120px;
    font-family: 'Montserrat', sans-serif;
}

.services span{
    display: block;
    height: 1px;
    width: 549px;
    background-color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
}

.services h3{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.services h4{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.services p{
    color: #fff;
    font-family: 'Montserrat', sans-serif;


}

.services h1{
    color: #fff;
    /* text-align: center; */
    margin: 329px 0;
    margin-left: 70px;
    font-size: 38px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.projects{
min-height: 100vh;
}

.projects h1{
    color: #011627;
    text-align: center;
    font-weight: 700;
    margin-bottom: 31px;
    font-family: 'Montserrat', sans-serif;
}

.projects h5{
    color: #011627;
    text-align: center;
    margin-top: 66px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.projects h4{
    color: #011627;
    margin-top: 13px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.projects p{
    color: #011627;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.get{
    margin-top: 115px;
    margin-bottom: 35px;
}

.get h3{
    text-align:center;
    font-family: 'Montserrat', sans-serif;

}




.footer {
    background-color: #011627;
    color: #ffffff;}

.footer h3 {
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 5px;
}

.footer ul li a {
    font-size: 15px;
    font-family: font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s all ease-in-out;
}

.footer ul li a:hover{
    color: #d94948;
}